
body{
    background-image: url(station.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    
}

button{
    border: none;
    padding: 10px 0px 10px 0px;
    color: white;
    font-weight: bold;
    width: 200px;
    margin-bottom: 5px;
    border-radius: 5px;
    display: block;
}

#increment-btn{
    background: darkred;
}

#save-btn{
    background: darkgreen;
}

#save-el{
    font-weight: bolder;
}